:host {
    form {
        mat-form-field {
            margin-right: 5px;
        }

        & > div {
            display: flex;

            & > div {
                min-width: 180px;
                
                mat-slider {
                    width: 100%;
                }
            }

        }
    }
}