<form [formGroup]="form">
    <mat-form-field>
        <mat-label>Movies</mat-label>
        <mat-select formControlName="film">
            <mat-option value="''">All</mat-option>
            <mat-option *ngFor="let f of films" [value]="f.url">{{ f.title }}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Species</mat-label>
        <mat-select formControlName="species">
            <mat-option value="''">All</mat-option>
            <mat-option *ngFor="let s of species" [value]="s.url">{{ s.name }}</mat-option>
        </mat-select>
    </mat-form-field>

    <div>
        <div>
            <h4>Birth From: {{ formatBirth(birthFrom) }}</h4>
            <mat-slider
                [min]="-100" [max]="birthFromMax"
                formControlName="birthFrom"
            >
            </mat-slider>
        </div>
    
        <div>
            <h4>Birth To: {{ formatBirth(birthTo) }}</h4>
            <mat-slider
                [min]="birthToMin" [max]="100"
                formControlName="birthTo"
            >
            </mat-slider>
        </div>
    </div>
</form>