<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            Filters
        </mat-panel-title>
    </mat-expansion-panel-header>

    <filters (filtersChange)="onFiltersChange($event)"></filters>
</mat-expansion-panel>

<mat-list>
    <h3 mat-subheader>Characters</h3>
    <mat-list-item *ngFor="let m of filteredModels">
        <a [routerLink]="m.id">
            {{ m.name }}
        </a>
        <mat-divider [inset]="true"></mat-divider>
    </mat-list-item>
</mat-list>